.profile {
  display: flex;
  align-items: center;
  max-width: 880px;
  margin: 40px auto 0;
}

@media (min-width: 921px) and (max-width: 1279px) {
  .profile {
    max-width: 928px;
    margin-top: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 920px) {
  .profile {
    margin: 48px 20px 88px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile {
    margin: 41px auto 36px;
    flex-direction: column;
  }
}
